# macOS
.DS_Store

# Node
node_modules/

# Playwright
playwright-report/
playwright/.cache/
playwright/.auth/

# Test artifacts
test-results/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
